header{
  width:100%;
}

h1.title{
  margin-top:2%;
  margin-left:25%;
  width:50%;
  text-align:center;
  border-bottom:2px solid black;
  padding-bottom:1%;
}
section{
  width:100%;
}
article.inputData{
  margin-left:15%;
  width:75%;
  margin-top:15%;
  border-left:2px solid black;
  border-right:2px solid black;
  
}
article.inputData div{
  margin-left:10%;
  width:80%;
}
.label{
  display:inline-block;
  font-family:'Arial Black';
  font-size:20px;
}
.frm{
  display:inline-block;
  width:40%;
}
form.frm input{
  margin-left:2%;
}

#cipherText{
  font-family:'Arial'; 
  margin-left:25%;
}